body {
    background: red;
}

/*  */
* {
    margin: 0;
    padding: 0;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none; /* 取消蓝色轮廓画布 */
}

html, body {
    overflow: hidden; /* 禁止滚动条 */
}